<a href="https://colab.research.google.com/github/eng-olavo/PythonCourse/blob/main/PythonCourse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

⚡**Print**


**F-Strings**

escrevendo uma string....

In [62]:
txt = f"Hello World"
print(txt)

Hello World

Placeholders ....

In [63]:
nome = "Olavo"
idade = 53

print(f"Meu nome é {nome}, eu tenho {idade} anos!")

Meu nome é Olavo, eu tenho 53 anos!

Casas decimais ...

In [64]:
preco = 100

print(f"O preço do produto é {preco:.2f}")

O preço do produto é 100.00

Operações matemáticas dentro das f-strings....

In [65]:
parcelas = 12
valor_parcela = 100

print(f"O valor total do produto é = {parcelas * valor_parcela:.2f}")

O valor total do produto é = 1200.00

Condicionais dentro das f-strings....

In [66]:
preco = 100

print(f"O produto está {'barato' if preco < 1000 else 'caro'}")

O produto está barato

Métodos dentro das f-strings.....

In [67]:
nome  ='Olavo'

print(f"{nome.upper()}")

OLAVO

Functions dentro das f-strings....

In [68]:
def myconverter(x):
  return x * 0.3048

txt = f"The plane is flying at a {myconverter(30000)} meter altitude"
print(txt)

The plane is flying at a 9144.0 meter altitude

In [69]:
TCelsius = 32

def ToFarenheit(x):
  return x * 1.8 + 32

txt = f"A temperatura {TCelsius} °C em Farenheit é {ToFarenheit(TCelsius)} °F"
print(txt)

A temperatura 32 °C em Farenheit é 89.6 °F

Usando separador , entre os milhares....

In [70]:
preco = 1000000

print(f"O preço da mercadoria é {preco:.2f}")

print(f"O preço da mercadoria é {preco:,.2f}")

desconto = 0.20

print(f"O desconto é de : {desconto:%}")

O preço da mercadoria é 1000000.00
O preço da mercadoria é 1,000,000.00
O desconto é de : 20.000000%

In [71]:
desconto = 0.20

print(f"O desconto é de : {desconto:.2%}")

O desconto é de : 20.00%

multiplas variáveis....

In [72]:
preco_unitario = 10
quantidade = 6
preco_total = preco_unitario * quantidade

print(f"O valor unitário é : {preco_unitario:.2f}, a quantidade é : {quantidade}, O preço total é {preco_total:.2f}")

O valor unitário é : 10.00, a quantidade é : 6, O preço total é 60.00

usando a moeda local....

In [73]:
from babel.numbers import format_currency

valor = 1234.56
moeda = "BRL"

print(format_currency(valor, moeda, locale='pt_BR'))  # Exibe: R$ 1.234,56

R$ 1.234,56



---

⚡**Input**


Entrada de dados...

In [74]:
username = input("Enter username:")
print("Hello " + username + "!")

Enter username:ooo
Hello ooo!

In [75]:
a = int(input("primeiro número: "))
b = int(input("segundo número: "))
print("soma  = ", a + b)

primeiro número: 1
segundo número: 2
soma  =  3

In [76]:
h = float(input("Digite sua altura: "))
p = int(input("Digite seu peso: "))
imc = p / (h * h)
print(f"Seu IMC é: {imc:.2f}")

Digite sua altura: 1.75
Digite seu peso: 77
Seu IMC é: 25.14



---

⚡**IF ELSE**

Desvios condicionais....

Equals: a == b

Not Equals: a != b

Less than: a < b

Less than or equal to: a <= b

Greater than: a > b

Greater than or equal to: a >= b

In [77]:
a = int(input("Digite um número: "))
b = int(input("Digite outro número: "))

if a > b:
  print(f"{a} é maior que {b}")
elif a == b:
  print(f"{a} é igual a {b}")
else:
  print(f"{a} é menor que {b}")

Digite um número: 12
Digite outro número: 3
12 é maior que 3

Jogo de dado...

In [78]:
import random


pontos_jogador1 = 100
jogador1 = int(input("Jogador 1, digite um número de 1 a 6: "))
aposta = int(input(f"Qual a sua aposta? (entre 1 e {pontos_jogador1})"))


# Gerar um número aleatório entre 1 e 6
dado = random.randint(1, 6)

print(f"Número sorteado... ({dado})!")

if jogador1 == dado:
  print(f"Você acertou...")
  pontos_jogador1 = pontos_jogador1 + (aposta * 6)
  print(f"Agora você tem : {pontos_jogador1} pontos")
else:
  print(f"Você errou...")
  pontos_jogador1 -= aposta
  print(f"Agora você tem : {pontos_jogador1} pontos")
  if pontos_jogador1 <= 0:
    print("Você perdeu o jogo!")

Jogador 1, digite um número de 1 a 6: 4
Qual a sua aposta? (entre 1 e 100)2
Número sorteado... (4)!
Você acertou...
Agora você tem : 112 pontos

⚡**FOR LOOPS**

Estruturas de repetição....

Range Function...

In [79]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

In [80]:
for y in range(0,10):
  print(y)

0
1
2
3
4
5
6
7
8
9

In [81]:
for z in range(0,10,2):
  print(z)

0
2
4
6
8

percorrendo strings...

In [82]:
x = "string"

for y in x:
  print(y)

s
t
r
i
n
g

percorrendo listas, tuplas, etc ...

In [83]:
cidades = ['Recife', 'São Paulo', 'Rio de Janeiro']

for x in cidades:
  print(x)

Recife
São Paulo
Rio de Janeiro

Break, Continue and Pass.....

In [84]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [85]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [86]:
for x in [0, 1, 2]:
  pass

Nested Loops ...

In [87]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

ELSE in a FOR LOOP....

In [88]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [89]:
for x in range(6):
  if x == 3: continue
  print(x)
else:
  print("Finally finished!")

0
1
2
4
5
Finally finished!



---

⚡**WHILE LOOPS**

Estruturas de repetição....

In [90]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [91]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [92]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [93]:
game = 1
answer = 'y'
while answer == 'y':
  print(f"partida {game}")
  answer = input("Do you want to continue? (y/n)")
  game+=1
print("Game Over")

partida 1
Do you want to continue? (y/n)n
Game Over



---

⚡** Functions**

Criando uma function ....

In [94]:
def my_function():
  print("Hello from a function")

executando uma function ...

In [95]:
my_function()

Hello from a function

passando argumentos para a fuction ...

In [96]:
def my_function(firstname):
  print(firstname + " Melo")

In [97]:
my_function('Olavo')
my_function('Mariana')

Olavo Melo
Mariana Melo



---

⚡ **Classes**

In [98]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [99]:
class ContaCorrente:
  def __init__(self, nome, agencia, conta, senha, saldo):
    self.nome = nome
    self.agencia = agencia
    self.conta = conta
    self.senha = senha
    self.saldo = saldo

  def saque(self, valor):
    self.saldo -= valor

  def deposito(self, valor):
    self.saldo += valor

In [100]:
cc1= ContaCorrente('Olavo',3873,280667,1234,1000)

In [101]:
print(cc1.nome)
print(cc1.agencia)
print(cc1.conta)
print(cc1.senha)
print(cc1.saldo)

Olavo
3873
280667
1234
1000

In [102]:
cc1.deposito(100)

In [103]:
cc1.saldo

1100

In [104]:
cc1.saque(50)
cc1.saldo

1050

In [105]:
cc1.saldo = 100000000
cc1.saldo

100000000

Herança em Classes...

In [106]:
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.fname, self.lname, "to the class of", self.graduationyear)

In [107]:
s1 = Student("Mariana","Melo",2000)

In [108]:
print(s1.graduationyear)

2000

In [109]:
print(s1.name)

Mariana

In [110]:
# Parent Class 1
class Animal:
    def __init__(self, name):
        self.name = name

    def speak(self):
        return "I make a sound"

# Parent Class 2
class Walker:
    def walk(self):
        return f"{self.name} is walking."

# Child Class that inherits from both Animal and Walker
class Dog(Animal, Walker):
    def __init__(self, name, breed):
        super().__init__(name)  # Calling Animal's __init__
        self.breed = breed

    def speak(self):
        return "Woof!"

# Creating an instance of Dog
dog = Dog("Buddy", "Golden Retriever")

# Calling methods
print(f"{dog.name} ({dog.breed}) says: {dog.speak()}")  # Output: Buddy (Golden Retriever) says: Woof!
print(dog.walk())  # Output: Buddy is walking.

Buddy (Golden Retriever) says: Woof!
Buddy is walking.

Crie uma classe base Vehicle com um método move(). Depois, crie duas classes filhas Car e Boat que sobrescrevem o método move(). Por fim, crie uma classe AmphibiousVehicle que herda de ambas e combina seus comportamentos.

In [117]:
class vehicle:
  def move(self):
    print("I´m a moving vehicle")

class car(vehicle):
  def move(self):
    print("I´m a moving car")

class boat(vehicle):
  def move(self):
    print("I´m a moving boat")

class amphibiousVehicle(car, boat):
  def move(self):
    print("I´m a moving amphibious vehicle")

In [118]:
v1 = vehicle()
v1.move()

I´m a moving vehicle

In [119]:
a1 = amphibiousVehicle()
a1.move()

I´m a moving amphibious vehicle



---

In [121]:
class Veiculo:
    def __init__(self, marca, modelo, ano):
        self.marca = marca
        self.modelo = modelo
        self.ano = ano

    def exibir_info(self):
        print(f"{self.ano} {self.marca} {self.modelo}")

    def mover(self):
        print("O veículo está em movimento")

# Classe Carro com atributo específico: numero_de_portas
class Carro(Veiculo):
    def __init__(self, marca, modelo, ano, numero_de_portas):
        super().__init__(marca, modelo, ano)
        self.numero_de_portas = numero_de_portas

    def mover(self):
        print("O carro está dirigindo na estrada")

# Classe Moto com atributo específico: cilindrada
class Moto(Veiculo):
    def __init__(self, marca, modelo, ano, cilindrada):
        super().__init__(marca, modelo, ano)
        self.cilindrada = cilindrada

    def mover(self):
        print("A moto está acelerando na pista")

# Classe Caminhão com atributo específico: capacidade_de_carga
class Caminhao(Veiculo):
    def __init__(self, marca, modelo, ano, capacidade_de_carga):
        super().__init__(marca, modelo, ano)
        self.capacidade_de_carga = capacidade_de_carga  # Em toneladas

    def mover(self):
        print("O caminhão está transportando carga")

# Classe Ônibus com atributo específico: numero_de_passageiros
class Onibus(Veiculo):
    def __init__(self, marca, modelo, ano, numero_de_passageiros):
        super().__init__(marca, modelo, ano)
        self.numero_de_passageiros = numero_de_passageiros

    def mover(self):
        print("O ônibus está transportando passageiros")

# Criando instâncias com os novos atributos
carro = Carro("Toyota", "Corolla", 2022, 4)
moto = Moto("Honda", "CB500", 2023, 500)
caminhao = Caminhao("Volvo", "FH16", 2021, 25)
onibus = Onibus("Mercedes-Benz", "O500", 2020, 50)

# Testando os métodos e atributos específicos
print(".....................................")
carro.exibir_info()
print(f"Portas: {carro.numero_de_portas}")
carro.mover()

print(".....................................")
moto.exibir_info()
print(f"Cilindrada: {moto.cilindrada} cc")
moto.mover()

print(".....................................")
caminhao.exibir_info()
print(f"Capacidade de carga: {caminhao.capacidade_de_carga} toneladas")
caminhao.mover()

print(".....................................")
onibus.exibir_info()
print(f"Número de passageiros: {onibus.numero_de_passageiros}")
onibus.mover()

.....................................
2022 Toyota Corolla
Portas: 4
O carro está dirigindo na estrada
.....................................
2023 Honda CB500
Cilindrada: 500 cc
A moto está acelerando na pista
.....................................
2021 Volvo FH16
Capacidade de carga: 25 toneladas
O caminhão está transportando carga
.....................................
2020 Mercedes-Benz O500
Número de passageiros: 50
O ônibus está transportando passageiros

In [123]:
class Aluno:
    def __init__(self, nome, nota1, nota2, nota3, nota4):
        self.nome = nome
        self.notas = [nota1, nota2, nota3, nota4]
        self.media = self.calcular_media()
        self.situacao = self.verificar_aprovacao()  # Determina se o aluno foi aprovado

    def calcular_media(self):
        return sum(self.notas) / len(self.notas)

    def verificar_aprovacao(self):
        return "Aprovado" if self.media >= 7 else "Reprovado"

    def exibir_info(self):
        print(f"Aluno: {self.nome}")
        print(f"Notas: {self.notas}")
        print(f"Média: {self.media:.2f}")
        print(f"Situação: {self.situacao}")

# Criando instâncias e testando
aluno1 = Aluno("Carlos Silva", 8.5, 7.0, 9.2, 6.8)
aluno2 = Aluno("Mariana Souza", 5.0, 6.5, 7.0, 6.0)

aluno1.exibir_info()
print()
aluno2.exibir_info()

Aluno: Carlos Silva
Notas: [8.5, 7.0, 9.2, 6.8]
Média: 7.88
Situação: Aprovado

Aluno: Mariana Souza
Notas: [5.0, 6.5, 7.0, 6.0]
Média: 6.12
Situação: Reprovado



---

In [125]:
import math

class FormaGeometrica:
    def calcular_area(self):
        pass  # Método abstrato, será implementado nas subclasses

class Circulo(FormaGeometrica):
    def __init__(self, raio):
        self.raio = raio
        self.area = self.calcular_area()  # Armazena a área calculada

    def calcular_area(self):
        return math.pi * (self.raio ** 2)

    def exibir_info(self):
        print(f"Círculo - Raio: {self.raio}, Área: {self.area:.2f}")

class Retangulo(FormaGeometrica):
    def __init__(self, base, altura):
        self.base = base
        self.altura = altura
        self.area = self.calcular_area()  # Armazena a área calculada

    def calcular_area(self):
        return self.base * self.altura

    def exibir_info(self):
        print(f"Retângulo - Base: {self.base}, Altura: {self.altura}, Área: {self.area:.2f}")

class Triangulo(FormaGeometrica):
    def __init__(self, lado1, lado2, lado3):
        if not self.triangulo_valido(lado1, lado2, lado3):
            raise ValueError("Os lados informados não formam um triângulo válido.")
        self.lado1 = lado1
        self.lado2 = lado2
        self.lado3 = lado3
        self.area = self.calcular_area()  # Armazena a área calculada

    def triangulo_valido(self, a, b, c):
        return a + b > c and a + c > b and b + c > a

    def calcular_area(self):
        # Fórmula de Heron para calcular a área de um triângulo a partir dos lados
        s = (self.lado1 + self.lado2 + self.lado3) / 2
        return math.sqrt(s * (s - self.lado1) * (s - self.lado2) * (s - self.lado3))

    def exibir_info(self):
        print(f"Triângulo - Lados: {self.lado1}, {self.lado2}, {self.lado3}, Área: {self.area:.2f}")

# Criando instâncias e testando os cálculos
circulo = Circulo(5)
retangulo = Retangulo(10, 4)

try:
    triangulo = Triangulo(7, 8, 9)  # Lados válidos
    triangulo.exibir_info()
except ValueError as e:
    print(e)

try:
    triangulo_invalido = Triangulo(1, 2, 10)  # Lados inválidos
    triangulo_invalido.exibir_info()
except ValueError as e:
    print(e)

# Exibir informações das formas geométricas
circulo.exibir_info()
retangulo.exibir_info()

Triângulo - Lados: 7, 8, 9, Área: 26.83
Os lados informados não formam um triângulo válido.
Círculo - Raio: 5, Área: 78.54
Retângulo - Base: 10, Altura: 4, Área: 40.00



---

⚡**Lambda Functions**

In [128]:
x = lambda a : a + 10
print(x(5))

15

In [127]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [126]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [131]:
delta = lambda a,b,c,x : (a*(x*x)) + (b*x) + c
print(delta(1,2,1,2))

9

In [132]:
import math

delta = lambda a, b, c: (b**2) - (4*a*c)
root1 = lambda a, b, d: (-b + math.sqrt(d)) / (2 * a)
root2 = lambda a, b, d: (-b - math.sqrt(d)) / (2 * a)

def quadratic_roots(a, b, c):
    d = delta(a, b, c)
    if d < 0:
        return "No real roots"
    elif d == 0:
        return root1(a, b, d)  # Only one root
    else:
        return root1(a, b, d), root2(a, b, d)

# Example usage:
print(quadratic_roots(1, 2, 1))  # Solving x² + 2x + 1 = 0
print(quadratic_roots(1, -3, 2))  # Solving x² - 3x + 2 = 0

-1.0
(2.0, 1.0)

Parábola ....

In [133]:
import math

class Parabola:
    def __init__(self, a, b, c):
        self.a = a
        self.b = b
        self.c = c

    def delta(self):
        """Calcula o discriminante (delta) da equação do segundo grau."""
        return self.b ** 2 - 4 * self.a * self.c

    def num_raizes(self):
        """Determina a quantidade de raízes reais da equação."""
        d = self.delta()
        if d > 0:
            return 2
        elif d == 0:
            return 1
        else:
            return 0

    def raizes(self):
        """Calcula as raízes da equação, se existirem."""
        d = self.delta()
        if d < 0:
            return "Nenhuma raiz real"
        elif d == 0:
            x = -self.b / (2 * self.a)
            return (x,)
        else:
            x1 = (-self.b + math.sqrt(d)) / (2 * self.a)
            x2 = (-self.b - math.sqrt(d)) / (2 * self.a)
            return (x1, x2)

    def vertice(self):
        """Calcula as coordenadas do vértice da parábola."""
        xv = -self.b / (2 * self.a)
        yv = self.a * xv**2 + self.b * xv + self.c
        return (xv, yv)

    def concavidade(self):
        """Indica se a concavidade da parábola é para cima ou para baixo."""
        return "Para cima" if self.a > 0 else "Para baixo"

    def info(self):
        """Exibe todas as informações sobre a parábola."""
        return {
            "Delta": self.delta(),
            "Número de raízes": self.num_raizes(),
            "Raízes": self.raizes(),
            "Vértice": self.vertice(),
            "Concavidade": self.concavidade()
        }

# Exemplo de uso:
p = Parabola(1, -3, 2)
print(p.info())

{'Delta': 1, 'Número de raízes': 2, 'Raízes': (2.0, 1.0), 'Vértice': (1.5, -0.25), 'Concavidade': 'Para cima'}