<a href="https://colab.research.google.com/github/eng-olavo/PythonCourse/blob/main/python_exemplos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def myfunction(nome):
  print(f"Bom dia, {nome}!")

In [2]:
myfunction("Olavo")

Bom dia, Olavo!



---

In [9]:
num = int(input("Digite um número entre 0 e 9: "))

if num == 0:
  print(f"Você digitou ZERO!")
elif num ==1:
  print(f"Você digitou UM!")
elif num ==2:
  print(f"Você digitou DOIS!")
elif num==3:
  print(f"Você digitou TRÊS!")
elif num==4:
  print(f"Você digitou QUATRO!")
elif num==5:
  print(f"Você digitou CINCO!")
elif num==6:
  print(f"Você digitou SEIS!")
elif num==7:
  print(f"Você digitou SETE!")
elif num==8:
  print(f"Você digitou OITO!")
elif num==9:
  print(f"Você digitou NOVE!")
else:
  print(f"Você digitou um número errado!")

Digite um número entre 0 e 9: 22
Você digitou um número errado!



---

In [12]:
for x in range (0,101,10):
  print(x)

0
10
20
30
40
50
60
70
80
90
100

In [13]:
frutas = ["laranja", "limão", "morango"]

for fruta in frutas:
  print(fruta)

laranja
limão
morango

In [14]:
palavra = 'dicionário'

for letra in palavra:
  print(letra)

d
i
c
i
o
n
á
r
i
o



---

In [21]:
class Veiculo:
  def __init__(self, placa, ano, marca, modelo):
    self.placa = placa
    self.ano = ano
    self.marca = marca
    self.modelo = modelo

  def __str__(self):
    return f"placa = {self.placa} / ano = {self.ano} / marca = {self.marca} / modelo = {self.modelo}"

In [22]:
v1 = Veiculo('ABC-1234', 1998, 'VW', 'GOL')

In [23]:
print(v1.placa)
print(v1.ano)
print(v1.marca)
print(v1.modelo)

ABC-1234
1998
VW
GOL

In [24]:
print(v1)

placa = ABC-1234 / ano = 1998 / marca = VW / modelo = GOL