<a href="https://colab.research.google.com/github/eng-olavo/PythonCourse/blob/main/PythonCourse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

⚡**Print**


**F-Strings**

escrevendo uma string....

In [ ]:
txt = f"Hello World"
print(txt)

Hello World

Placeholders ....

In [ ]:
nome = "Olavo"
idade = 53

print(f"Meu nome é {nome}, eu tenho {idade} anos!")

Meu nome é Olavo, eu tenho 53 anos!

Casas decimais ...

In [ ]:
preco = 100

print(f"O preço do produto é {preco:.2f}")

O preço do produto é 100.00

Operações matemáticas dentro das f-strings....

In [ ]:
parcelas = 12
valor_parcela = 100

print(f"O valor total do produto é = {parcelas * valor_parcela:.2f}")

O valor total do produto é = 1200.00

Condicionais dentro das f-strings....

In [ ]:
preco = 100

print(f"O produto está {'barato' if preco < 1000 else 'caro'}")

O produto está barato

Métodos dentro das f-strings.....

In [ ]:
nome  ='Olavo'

print(f"{nome.upper()}")

OLAVO

Functions dentro das f-strings....

In [ ]:
def myconverter(x):
  return x * 0.3048

txt = f"The plane is flying at a {myconverter(30000)} meter altitude"
print(txt)

The plane is flying at a 9144.0 meter altitude

In [ ]:
TCelsius = 32

def ToFarenheit(x):
  return x * 1.8 + 32

txt = f"A temperatura {TCelsius} °C em Farenheit é {ToFarenheit(TCelsius)} °F"
print(txt)

A temperatura 32 °C em Farenheit é 89.6 °F

Usando separador , entre os milhares....

In [ ]:
preco = 1000000

print(f"O preço da mercadoria é {preco:.2f}")

print(f"O preço da mercadoria é {preco:,.2f}")

desconto = 0.20

print(f"O desconto é de : {desconto:%}")

O preço da mercadoria é 1000000.00
O preço da mercadoria é 1,000,000.00
O desconto é de : 20.000000%

In [ ]:
desconto = 0.20

print(f"O desconto é de : {desconto:.2%}")

O desconto é de : 20.00%

multiplas variáveis....

In [ ]:
preco_unitario = 10
quantidade = 6
preco_total = preco_unitario * quantidade

print(f"O valor unitário é : {preco_unitario:.2f}, a quantidade é : {quantidade}, O preço total é {preco_total:.2f}")

O valor unitário é : 10.00, a quantidade é : 6, O preço total é 60.00

usando a moeda local....

In [ ]:
from babel.numbers import format_currency

valor = 1234.56
moeda = "BRL"

print(format_currency(valor, moeda, locale='pt_BR'))  # Exibe: R$ 1.234,56

R$ 1.234,56



---

⚡**Input**


Entrada de dados...

In [ ]:
username = input("Enter username:")
print("Hello " + username + "!")

Enter username:Chico
Hello Chico!

In [ ]:
a = int(input("primeiro número: "))
b = int(input("segundo número: "))
print("soma  = ", a + b)

primeiro número: 5
segundo número: 7
soma  =  12

In [ ]:
h = float(input("Digite sua altura: "))
p = int(input("Digite seu peso: "))
imc = p / (h * h)
print(f"Seu IMC é: {imc:.2f}")

Digite sua altura: 1.75
Digite seu peso: 97
Seu IMC é: 31.67



---

⚡**IF ELSE**

Desvios condicionais....

Equals: a == b

Not Equals: a != b

Less than: a < b

Less than or equal to: a <= b

Greater than: a > b

Greater than or equal to: a >= b

In [ ]:
a = int(input("Digite um número: "))
b = int(input("Digite outro número: "))

if a > b:
  print(f"{a} é maior que {b}")
elif a == b:
  print(f"{a} é igual a {b}")
else:
  print(f"{a} é menor que {b}")

Digite um número: 8
Digite outro número: 8
8 é igual a 8

Jogo de dado...

In [ ]:
import random


pontos_jogador1 = 100
jogador1 = int(input("Jogador 1, digite um número de 1 a 6: "))
aposta = int(input(f"Qual a sua aposta? (entre 1 e {pontos_jogador1})"))


# Gerar um número aleatório entre 1 e 6
dado = random.randint(1, 6)

print(f"Número sorteado... ({dado})!")

if jogador1 == dado:
  print(f"Você acertou...")
  pontos_jogador1 = pontos_jogador1 + (aposta * 6)
  print(f"Agora você tem : {pontos_jogador1} pontos")
else:
  print(f"Você errou...")
  pontos_jogador1 -= aposta
  print(f"Agora você tem : {pontos_jogador1} pontos")
  if pontos_jogador1 <= 0:
    print("Você perdeu o jogo!")

Jogador 1, digite um número de 1 a 6: 1
Qual a sua aposta? (entre 1 e 100)1
Número sorteado... (1)!
Você acertou...
Agora você tem : 106 pontos

⚡**FOR LOOPS**

Estruturas de repetição....

Range Function...

In [ ]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for y in range(0,10):
  print(y)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for z in range(0,10,2):
  print(z)

0
2
4
6
8

percorrendo strings...

In [ ]:
x = "string"

for y in x:
  print(y)

s
t
r
i
n
g

percorrendo listas, tuplas, etc ...

In [ ]:
cidades = ['Recife', 'São Paulo', 'Rio de Janeiro']

for x in cidades:
  print(x)

Recife
São Paulo
Rio de Janeiro

Break, Continue and Pass.....

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [ ]:
for x in [0, 1, 2]:
  pass

Nested Loops ...

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

ELSE in a FOR LOOP....

In [ ]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [ ]:
for x in range(6):
  if x == 3: continue
  print(x)
else:
  print("Finally finished!")

0
1
2
4
5
Finally finished!



---

⚡**WHILE LOOPS**

Estruturas de repetição....

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [ ]:
game = 1
answer = 'y'
while answer == 'y':
  print(f"partida {game}")
  answer = input("Do you want to continue? (y/n)")
  game+=1
print("Game Over")

partida 1
Do you want to continue? (y/n)y
partida 2
Do you want to continue? (y/n)y
partida 3
Do you want to continue? (y/n)y
partida 4
Do you want to continue? (y/n)y
partida 5
Do you want to continue? (y/n)u
Game Over



---

⚡** Functions**

Criando uma function ....

In [1]:
def my_function():
  print("Hello from a function")

executando uma function ...

In [2]:
my_function()

Hello from a function

passando argumentos para a fuction ...

In [3]:
def my_function(firstname):
  print(firstname + " Melo")

In [5]:
my_function('Olavo')
my_function('Mariana')

Olavo Melo
Mariana Melo



---

⚡ **Classes**

In [6]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [7]:
class ContaCorrente:
  def __init__(self, nome, agencia, conta, senha, saldo):
    self.nome = nome
    self.agencia = agencia
    self.conta = conta
    self.senha = senha
    self.saldo = saldo

  def saque(self, valor):
    self.saldo -= valor

  def deposito(self, valor):
    self.saldo += valor

In [10]:
cc1= ContaCorrente('Olavo',3873,280667,1234,1000)

In [12]:
print(cc1.nome)
print(cc1.agencia)
print(cc1.conta)
print(cc1.senha)
print(cc1.saldo)

Olavo
3873
280667
1234
1000

In [13]:
cc1.deposito(100)

In [14]:
cc1.saldo

1100

In [15]:
cc1.saque(50)
cc1.saldo

1050

In [16]:
cc1.saldo = 100000000
cc1.saldo

100000000